@import '../../../scss/variables';

li {
    padding-bottom: 6rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & .horizontal-line{
        width: 4rem;
        height: 2px;
        background-color: $black;
    }

    & a{
        text-decoration: none;
        color: $black;
        font-weight: $regular;
        font-family: $rajhdani;
        font-size: $p;

    }
}