@import '../../../scss/variables';

li {
    padding-bottom: 6rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  
    
    & .horizontal-line{
        width: 4rem;
        height: 2px;
        background-color: $black;
    }

    & a{
        text-decoration: none;
        color: $black;
        font-weight: $regular;
        font-family: $rajhdani;
        font-size: $p;
        transition: all .15s ease-in-out;
        
        &:hover{
            font-weight: $bold;
            font-size: $h3;
        }
    }
}