@import '../../../scss/variables';

main{
    padding: $vertical-padding $horizontal-padding;

    & h1{
        @media(max-width:$md){
            font-size: 6.5rem;
            padding: 1rem;
        }
        text-align: center;
        font-size: $h1;
        font-family: $oswald;
        font-weight: $regular;
        text-transform: uppercase;
        border: $border-size solid $black;
    }

    & .wrapper{
        padding-top: $vertical-padding;
        display: flex;
        flex-direction: row;
        gap: 10rem;

        @media (max-width:$xxl){
            flex-direction: column-reverse;
            gap: 0;
        }

       & .navigation{
            @media (max-width:$xl){
                width: 100%;
            }
        
            width: 40%;
            & h2{
                font-family: $rajhdani;
                font-size: $h2;
                font-weight: $bold;
                max-width: 100px;
                text-transform: uppercase;
            }

            & nav{
                padding-top: 4rem;
            }

            & p{
                font-family: $rajhdani;
                font-size: $p;
                font-weight: $medium;
            }
        }
       
        & .img-container{

            @media (max-width:$md){
                background-size: contain;
                width: 100%;
                min-height: 425px;
            }
            
            @media (min-width:$md){
                width: 100%;
                min-height: 584px;
                background-size: contain;
            }

            @media (min-width:$lg){
                width: 100%;
                height: 640px;
                background-size: contain;
                 
            }
            
            @media (min-width:$xxxl){
                background-size: cover;
            }

            
            width: 60%;
            background: url('../../../assets/hero-image.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}