@import '../../../scss/variables';

.portfolio {

    @media (max-width:$sm){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }

    @media (min-width:$sm) and (max-width:$xl){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 2rem;
        padding-bottom: 8rem;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10rem;
    grid-row-gap: 6rem;
    background-color: $black;
    padding: $vertical-padding $horizontal-padding;
}


.portfolio__about {

    grid-area: 1 / 1 / 2 / 2; 
    border-top: 2px solid rgba($color: #fff, $alpha: 0.5);

    & h2{
        padding-top: 3rem;
        color: $white;
        font-size: $h2;
        font-family: $oswald;
        font-weight: $regular;
        line-height: 5.7rem;
        text-transform: uppercase;
    }

    & p{

        @media (max-width:$sm){
            font-size: 2rem;
        }
        @media(min-width:$sm){
            line-height: 4.7rem;
            font-size: 3rem;
        }
        padding-top: 6rem;
        color: #FFF;
        font-size: $p;
        font-family: $rajhdani;
        font-weight: $regular;
        line-height: 2.7rem;
    }
}


.portfolio-img{

    height:65rem;
}

.portfolio__img-1 {
    @media(max-width:$sm){
        width: 100%;
        height: 160px;
        background-size: contain;
    }

    @media (min-width:$sm) and (max-width:$xl){
        grid-area: 2 / 1 / 3 / 2;
        background-size: cover;
        background-position: center;
    }

    @media (min-width:$xxl){
        background-size: cover;
    }
    grid-area: 1 / 2 / 2 / 3; 
    background: url('../../../assets/portfolio-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.portfolio__img-2 {

    @media(max-width:$sm){
        width: 100%;
        height: 160px;
        background-size: contain;
    }
    @media (min-width:$sm) and (max-width:$xl){
        grid-area: 3 / 1 / 4 / 2;
        background-size: cover;
        background-position: center;
    }

    @media (min-width:$xxl){
        background-size: cover;
    }
    grid-area: 2 / 1 / 3 / 2;
    background: url('../../../assets/portfolio-2.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio__img-3 {
    @media(max-width:$sm){
        width: 100%;
        height: 160px;
        background-size: contain;
    }
    @media (min-width:$sm) and (max-width:$xl){
        grid-area: 4 / 1 / 5 / 2;
        background-size: cover;
        background-position: center;
        background-position: center;
    }

    @media (min-width:$xxl){
        background-size: cover;
    }
    grid-area: 2 / 2 / 3 / 3;
    background: url('../../../assets/portfolio-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.portfolio__img-4 {
    @media(max-width:$sm){
        width: 100%;
        height: 160px;
        background-size: contain;
    }
    @media (min-width:$sm) and (max-width:$xl){
        grid-area: 5 / 1 / 6 / 2;
        background-size: cover;
        background-position: center;
    }
    grid-area: 3 / 1 / 4 / 2;
    background: url('../../../assets/portfolio-4.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.portfolio__img-5 { 
    @media(max-width:$sm){
        width: 100%;
        height: 160px;
        background-size: contain;
    }
    @media (min-width:$sm) and (max-width:$xl){
        grid-area: 6 / 1 / 7 / 2;
        background-size: cover;
        background-position: center;
    }

    @media (min-width:$xxl){
        background-size: cover;
    }
    grid-area: 3 / 2 / 4 / 3;
    background: url('../../../assets/portfolio-5.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}