@import '../../../scss/variables';

footer{
    padding: $vertical-padding $horizontal-padding; 
    background-color: $black;

    & p{
        @media(max-width:$sm){
            font-size: 1.3rem;
        }
        color: $white;
        font-size: $details;
        font-family:$rajhdani;
        font-weight: $regular;
        text-transform: uppercase;
    }
}