@import '../../../scss/variables';

.our-mission{

    @media(max-width:$lg){
        flex-direction: column;
        gap: 6rem;
    }
    display: flex;
    padding: $vertical-padding $horizontal-padding;
    gap: 15rem;
    & .our-mission__intro{
        @media(max-width:$lg){
            width: 100%;
        }
        width: 50%;
        border-top: 2px solid $black;

        & h2{
            font-size: $h2;
            font-family: $oswald;
            font-weight: $regular;
            line-height: 5.7rem;
            text-transform: uppercase;
            
        }

        & p{
            @media (min-width:$xxxl){
                font-size: 3.5rem;
                line-height: 3.9rem;
            }
            padding-top: 6rem;
            color: $black;
            font-size: $p;
            font-family: $rajhdani;
            font-weight: $regular;
            line-height: 2.9rem;
            padding-bottom: 10rem;
        }

        & .our-mission__details{
            background-color: $black;
            padding: $vertical-padding $our-mission-padding;

            & h3{
                @media (min-width:$xxxl){
                    font-size: 4rem;
                }
                color: $white;
                font-size: $h3;
                font-family: $oswald;
                font-weight: $regular;
                line-height: 2.5rem;
            }

            & p{

                @media (min-width: $xxxl){
                    font-size: 2.9rem;
                }
                color: $white;
                font-size: $details;
                opacity: .5;
                padding: $vertical-padding 0;
            }
        }
    }

    & .our-mission__img-container{

        @media (max-width:$lg){
            width: 100%;
            height: 800px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        @media (min-width:$lg){
            background-size: cover;
            background-position: center;
        }

        @media (min-width: $xxxl){
            height: 1000px;
        }
        width: 50%;
        background: url('../../../assets/our-mission-photo.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}