@import './typography';
@import './colors';


$border-size: 0.2rem;
$horizontal-padding:6rem;
$vertical-padding:3rem;

/****************
 * MAIN SECTION *
 ****************/

/*********
 * ABOUT *
 *********/

 $about-vertical-padding:6rem;

/***************
 * OUR MISSION *
 ***************/
 
 $our-mission-padding: 4rem;