@import './typography';
@import './colors';


$border-size: 0.2rem;
$horizontal-padding:6rem;

/****************
 * MAIN SECTION *
 ****************/

 $vertical-padding:3rem;
 

/*********
 * ABOUT *
 *********/

 $about-vertical-padding:6rem;